.pad{
	background: white;
}

.separator{
	border-top: 1px solid rgb(127,127,127);
}

.menu{
background: white;
height: 1000em;
}

.fieldset{
  border: 1px solid #ddd;
  margin: 10px;
}

.legend {
  font-weight: bold ;
  text-align: left ;
  width:inherit; 
  padding:0 10px; 
  border-bottom:none;
  margin-top: -35px;
  background: white;
  position: absolute;
  margin-left: 2px;
}

.fielsetprinc{
  overflow-y:scroll;
  height: 8em;
  padding: 6px;
}

.inB{
  display: inline;
  margin-right: 0.5em;
}


table
{
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5em;
}
td,th
{
    border: 1px solid black;
}



#numberConstraints{
	display: none;
}

.separ{
	margin-top:0.5em;
}

.menu_item_{
cursor:pointer;
font-size:20px;
font-family:bold;
text-decoration: underline;
width:100%;
padding: 0.25em;
/*border-radius: 0.25em;*/
color:white;
background: #aaa;
text-align: center;
margin-top: 0.25em;
}

#part_menu{
overflow-y:scroll;
height: 50em;
}

#param_database{
display: none;
}

#profiling_param{
display: none;
}


.submenu{
margin-left:25px;
text-decoration: underline dotted;
}

.scoll1{
height: 30em;
overflow-y:scroll;
background:white;
}

#boite_message{
  display: none;
  border-radius: 25px;
  color:  #73AD21;;
  padding: 20px;
  width: 200px;
  height: 80px;
  color: white;
}

.with_treshold{
  display: none;
}
